.container {
  width: 1024px;
  padding-top: 100px;
  margin: 0 auto;
}

.btn {
  text-align: center;
  padding: 10px 20px;
  width: 300px;
  border-radius: 8px;
  margin: 20px auto;
  background-color: #fff;
  color: #000;
  transition: all 0.3s ease-in;
}

.btn:hover {
  color: #fff;
  background-color: #cec1c1;
}
